* {
	margin:0px;
	padding:0px;
	font-size:10px;
	font-family:Arial;
	list-style:none;
}
.draw_space {
	border : 1px solid #000;
	width:400px;
	height:300px;
}

div#container {
	margin:30px auto 0px auto;
	width:430px;
	height:650px;
	padding:5px;
	
}

.borda {
	border : 1px solid #000;
}


p span.list {
	min-width:100px;
	height:25px;
	display:block;	
}

ul#ul_transicoes {
	margin-left:100px;
	
}

div.tela {
	width:410px;
	height:600px;
	position:absolute;
	background:#fff;
	border:1px solid #ccc;
	padding:5px;
}

.conteudo {
	height:400px;
	width:400px;
	overflow-x:hidden;
	overflow-y:auto;
	border:1px solid #ccc;
	padding:3px;
	margin:3px;
}

p label { width: 42px; display:block; float:left; padding-top:2px; }

h3 { text-align:center; }
input[type=button] { background:#fff; border:1px solid #ccc; padding:2px; font-size:10px; }

input[name=prox],input[name=ant] {
	width:80px;
	float:right;
	height:25px;	
	margin-left:5px;
	cursor:pointer;
}

input[type=text] { margin:0px 5px 0px 5px; }

span.func { 
	width:15px;
	height:15px;
	display:block;
	float:left;
	padding:0px 0px 0px 5px;
	background:#000;
	color:#fff;
	margin-right:3px;
	cursor:pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

.red_mark { border: 1px solid #f00; }
